/* Registration Card styles */

#rc-background {
	background-color: aliceblue;
}

 #rc-form {
	background-color: aliceblue;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding: 25px;
	border: 1px solid black;
}

.block {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin: 1%;
  font-size: 16px;
  border: hidden;
  background-color: lightgray;
  font-weight: bold;
  text-align: center;
}

.banner {
	background-color: #FFF44F;
}