/* Registration Card styles */

.card {
	background-color: aliceblue;
	width: 95vw;
	height: 90vh;
	margin: 0 auto;
	background-color: white;
}

#left {
	float: left;
	height: 90vh;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	scrollbar-width: thin;
}

#left::-webkit-scrollbar {
	width: 8px;
	height: 15px;
}

#left::-webkit-scrollbar-track-piece {
	background-color: #f0f0f0;
}

#left::-webkit-scrollbar-thumb:vertical {
	height: 30px;
	background-color: #cdcdcd;
}

#right {
	width: 60%;
	background-color: #fde3b7;
	color: #d5204a;
	box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.45);
}

@media only screen and (max-width: 768px) {
	#right {
		display: none;
	}
}

.block {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin: 1%;
  font-size: 16px;
  border: hidden;
  background-color: lightgray;
  font-weight: bold;
  text-align: center;
}

.banner {
	background-color: #FFF44F;
}

input {
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
	border: 1px solid #ccc;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

.error {
  color: red;
}